<header id="index-header">
  <div class="top-center">
      <div class="logo">
          <a onclick="_hmt.push(['_trackEvent', 'home', 'click', 'home', 1])" href="{{ "/" | relative_url }}" title="my awesome webtitle">{{ site.webtitle }}</a>
      </div>
      <nav class="top-nav">
          <ul>
              {% for i in site.nav %}
                <li><a onclick="_hmt.push(['_trackEvent', 'nav', 'click', '{{ i[0] }}', 1])" href="{{ i[1] }}">{{ i[0] }}</a></li>
              {% endfor %}
          </ul>
      </nav>
      <div id="top-boot">
        <a href="javascript:;" id="boot1" style="display:block;" onclick="document.getElementById('boot-area').style.display='block';document.getElementById('boot1').style.display='none';document.getElementById('boot2').style.display='block';"><img src="/assets/boot.png" alt=""></a>
        <a href="javascript:;" id="boot2" style="display: none;" onclick="document.getElementById('boot-area').style.display='none';document.getElementById('boot1').style.display='block';document.getElementById('boot2').style.display='none';"><img src="/assets/boot.png" alt=""></a>
      </div>
  </div>

</header>
